

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: lightpink;
}

#dogImageContainer, #catImageContainer {
    margin: 20px;
    padding: 10px;
    background-color:lightsteelblue;
    width: 500px;
    height: 500px;
}
#text {
    border: 4mm ridge lightsteelblue;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#dogClicker, #catClicker{
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 50px;
    background-color:lightsteelblue;
}
